<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="main"></div>
    <script src="javascripts/elm.js"></script>
    <script src="javascripts/solid-auth-client.bundle.js"></script>
    <script src="javascripts/rdflib.js"></script>
    <script>
     var node = document.getElementById('main');
     var app = Elm.Main.embed(node);

     var tripleStore = $rdf.graph()
     var fetcher = new $rdf.Fetcher(tripleStore, 5000)
     const foaf = $rdf.Namespace("http://xmlns.com/foaf/0.1/")

     app.ports.login.subscribe(function() {
       SolidAuthClient.popupLogin({ popupUri: 'http://localhost:3000/popup' })
                      .then(function (session) {
                        app.ports.loginReturn.send({ webId: session.webId });
                      })
                      .catch(function(err) {
                        app.ports.loginReturn.send({ webId: "" });
                      });
     });

     app.ports.fetchUsername.subscribe(function(webId) {
       // first read the RDF data from the webId
       fetcher.nowOrWhenFetched(webId, function(ok, body, xhr) {
         if (!ok) {
           app.ports.usernameReturn.send("");
         } else {
           // extract the user and their name from the triple store
           const user = $rdf.sym(url);
           const username = tripleStore.any(user, foaf('name'))
           app.ports.usernameReturn.send(username);
         }
       });
     });

     app.ports.localStorageSetItem.subscribe(function(keyValuePair) {
       if (keyValuePair.length !== 2) {
         console.log("bad value passed to localStorageSetItem port", key)
       } else {
         window.localStorage.setItem(keyValuePair[0], keyValuePair[1]);
       }
     });

     app.ports.localStorageRemoveItem.subscribe(function(keyName) {
       console.log("removing item");
       window.localStorage.removeItem(keyName);
     });

     app.ports.localStorageGetItem.subscribe(function(keyName) {
       var value = window.localStorage.getItem(keyName);
       console.log("getting item");
       app.ports.localStorageRetrievedItem.send([keyName, value]);
     });


    </script>
  </body>
</html>
