<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="main"></div>
    <script src="javascripts/elm.js"></script>
    <script src="javascripts/solid-auth-client.bundle.js"></script>
    <script src="javascripts/rdflib.min.js"></script>
    <script>
     var node = document.getElementById('main');
     var app = Elm.Main.embed(node);

     var tripleStore = $rdf.graph();
     var fetcher = new $rdf.Fetcher(tripleStore, 5000);
     var foaf = $rdf.Namespace('http://xmlns.com/foaf/0.1/');
     var pim = $rdf.Namespace('http://www.w3.org/ns/pim/space#');

     app.ports.login.subscribe(function() {
       SolidAuthClient
         .popupLogin({ popupUri: 'http://localhost:3000/popup' })
         .then(function (session) {
           console.log("login ok", session)
           app.ports.loginReturn.send(localStorage.getItem('solid-auth-client'));
         })
         .catch(function(err) {
           console.log("login failed", err);
           app.ports.loginReturn.send(null);
         });
     });

     app.ports.logout.subscribe(function() {
       SolidAuthClient
         .logout()
         .then(() =>
           console.log('successfully logged out'),
               app.ports.logoutReturn.send("ok")
         )
         .catch(() =>
           console.log('failed logging out'),
                app.ports.logoutReturn.send(null)
         );
     });

     app.ports.fetchUserInfo.subscribe(function(webId) {
       // first read the RDF data from the webId
       fetcher.nowOrWhenFetched(webId, { force: true }, function(ok, errorMessage, response) {
         if (!ok) {
           console.log('nowOrWhenFetched failed:')
           console.log('error',errorMessage)
           console.log('response',response, response)
           app.ports.usernameFetchedError.send("Failed to fetch/process "+webId);
         } else {
           // extract the user some information from the triple store
           const user = $rdf.sym(webId);
           const usernameNode = tripleStore.any(user, foaf('name'));
           const userDataNode = tripleStore.any(user, pim('storage'));
           if (!usernameNode || usernameNode.termType !== 'Literal' || !userDataNode || userDataNode.termType !== 'NamedNode') {
             app.ports.userInfoFetchedError.send("Didn't find foaf:name or pim:storage for "+webId);
           } else {
             app.ports.userInfoFetchedOk.send([usernameNode.value, userDataNode.value]);
           }
         }
       });
     });

     app.ports.localStorageSetItem.subscribe(function(keyValuePair) {
       if (keyValuePair.length !== 2) {
         console.log("bad value passed to localStorageSetItem port", key)
       } else {
         window.localStorage.setItem(keyValuePair[0], keyValuePair[1]);
       }
     });

     app.ports.localStorageRemoveItem.subscribe(function(keyName) {
       console.log("removing item", keyName);
       window.localStorage.removeItem(keyName);
     });

     app.ports.localStorageGetItem.subscribe(function(keyName) {
       var value = window.localStorage.getItem(keyName);
       console.log("getting item", keyName);
       app.ports.localStorageRetrievedItem.send([keyName, value]);
     });

    </script>
  </body>
</html>
